[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
toml = "*"
sqlalchemy = "*"
gunicorn = "*"
flask-login = "*"
freezegun = "*"

[dev-packages]
pytest = "*"
blue = "*"
isort = "*"
ruff = "*"

[requires]
python_version = "3.11"
