:root {
  font-size: 20px;
}

* {
  font-size: 1rem;
}

#login-form {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 1rem;
  left: 0px;
  width: 100vw;
  gap: 1rem;
}

.action-form {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 5vh;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 95vh;
}

.card {
  border: 1px solid #999;
  border-radius: 7px;
  box-shadow: 2px 2px 10px #999;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
  text-align: center;
  overflow-y: scroll;
}

.card__title {
  font-size: 1.5rem;
  font-weight: bold;
}

#todo .card__title {
  color: rgb(var(--bs-danger-rgb));
}

#doing .card__title {
  color: rgb(var(--bs-warning-rgb));
}

#done .card__title {
  color: rgb(var(--bs-success-rgb));
}

.task {
  display: flex;
  justify-content: space-between;
}

.task__content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.task__datetime {
  color: rgb(var(--bs-primary-rgb));
}

.task__id {
  display: none;
}

.fa-arrow-left, .fa-arrow-right, .fa-trash {
  visibility: hidden;
  font-size: 1.5rem;
  cursor: pointer;
}

.fa-arrow-left, .fa-arrow-right {
  color: rgb(var(--bs-primary-rgb));
  margin: 0px 2rem;
}

.fa-trash {
  color: rgb(var(--bs-danger-rgb));
}
