:root {
  font-size: 20px;
}

* {
  font-size: 1rem;
}

#login-form {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 10fr 1fr;
  padding: 2rem;
  height: 100vh;
  text-align: center;
}

.task-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  height: 100%;
  padding: 1rem;
}

.task-cards__title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  grid-column: 1 / 4;
}

.task-card {
  border: 1px solid #999;
  border-radius: 7px;
  box-shadow: 2px 2px 10px #999;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
  text-align: center;
  overflow-y: scroll;
}

.task-card__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#todo .task-card__title {
  color: rgb(var(--bs-danger-rgb));
}

#todo .fa-arrow-left {
  visibility: hidden;
}

#doing .task-card__title {
  color: rgb(var(--bs-warning-rgb));
}

#done .task-card__title {
  color: rgb(var(--bs-success-rgb));
}

#done .fa-arrow-right {
  visibility: hidden;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.task__datetime {
  color: rgb(var(--bs-primary-rgb));
}

.task__id {
  display: none;
}

.fa-arrow-left, .fa-arrow-right, .fa-trash {
  font-size: 1.5rem;
  cursor: pointer;
}

.fa-arrow-left, .fa-arrow-right {
  color: rgb(var(--bs-primary-rgb));
  margin: 0px 2rem;
}

.fa-trash {
  color: rgb(var(--bs-danger-rgb));
  margin-right: 1rem;
}

#show-forms {
  display: none;
}

.forms-container {
  display: flex;
  justify-content: center;
  grid-column: 1 / 4;
  gap: 1rem;
}

.action-form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.action-form .input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media(max-width: 600px){
  :root {
    font-size: 18px;
  }

  main {
    height: 130vh;
    padding: 1rem;
  }

  .task-cards {
    overflow: scroll;
    grid-template-columns: 100% 100% 100%;
  }

  .task {
    justify-content: center;
  }

  .task__text {
    display: flex;
    flex-direction: column;
  }

  .forms-container, .action-form {
    flex-direction: column;
    width: 100%
  }

  .action-form input, .input-container {
    width: 100%;
  }
}
